<!-- <h1>Tops#index</h1>
<p>Find me in app/views/tops/index.html.erb</p>
-->
<div class="top-wrapper"> <!-- このクラスはBootstrapのもの -->
  <div class="top-inner-text"> <!-- このクラスはBootstrapのもの -->
    <h1>全国思い出記録アプリ</h1>
  </div>
</div>