<header class="header">
  <p class="text-center py-4">めざせ！全国制覇！</p>
  <nav class="flex items-center justify-between p-4">
    <%= link_to 'ホーム', root_path %>

    <ul class="flex space-x-4">
      <li>
        <%= link_to '新規ユーザー登録', new_user_path %>
      </li>
      <li>
        <%= link_to 'ログイン', login_path %>
      </li>
    </ul>
  </nav>
</header>
