<footer id='footer' class='bg-gray-800 text-white'>
  <div class='container mx-auto py-4'>
    <div class='flex justify-between items-center'>
      <nav class='flex space-x-4'>
        <%= link_to '行った場所一覧', '#', class: 'hover:text-gray-400' %>
        <%= link_to 'みんなの行った場所', '#', class: 'hover:text-gray-400' %>
        <%= link_to 'フレンド一覧', '#', class: 'hover:text-gray-400' %>
      </nav>
    </div>
  </div>
</footer>