<header id='header' class="header">
  <p class="text-center py-4 text-lg">めざせ！全国制覇！</p>
  <nav class="flex items-center justify-between p-4">
    <%= link_to 'ホーム', '/'%>


    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="flex space-x-4 ml-auto">
        <li>
          <%= link_to 'ログイン', login_path %>
        </li>
      </ul>
    </div>

    <ul class="flex space-x-4">
      <li>
        <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete } %>
      </li>
      <!--
      <li class="relative">
        <%= link_to '#' do %>
          プロフィール
        <% end %>
      </li>
      -->
    </ul>
  </nav>
</header>